[Unit]
Description=Launching netvue_recording_rcvr_script2
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pjmd
ExecStart=/home/pjmd/netvue/netvue_recording_rcvr_script2

[Install]
WantedBy=multi-user.target
